@media all and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }
  .thumbnail-item {
    max-width: 90px;
    min-width: 40px;
   
  }
  .thumbnail-list {
    background-color: inherit;
    flex-direction: column;
    order: 0 !important;
   padding: 0px 30px 0px 4px;
  }
.detail-image {
  border: 32px solid  rgba(0, 255, 118, 0.37);
  border-right: 0px;
  border-bottom: 0px;
  box-shadow: 32px 32px rgba(151, 115, 193, 0.46);
  height: 100vh;
}
  .detail-image-container {
    align-items: flex-start !important;
     position: fixed;
    left: 20%;
  }
  .detail-image-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 5px;
    
  }
  .detail-image-title {
    position: relative;
    font-size: 2.5em;
    bottom: 70px;
  }

  h1 {
    font-size: 7em;
    margin-bottom: 10px;
  }

  .up_down_btn {
    position: fixed;
    z-index: 9999;
    bottom: 80px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    text-align: center;
    font-size: 19px;
    background: rgba(23, 178, 29, 0.4);
    color: #f5ff00;
  }

  .up_down_btn:hover {
    background: rgba(23, 178, 29, 0.4);
    color: rgb(245, 255, 0);
  }

  .up_down_btn-show {
    display: block;
  }

  .up_down_btn-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0;
  }

}

@media all and (min-width: 1440px) {
  .detail-image-title {
    font-size: 4em;
    bottom: 100px;
  }
}
