@media all and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail-item {
    max-width: 80px;
    min-width: 60px;
  }

  .thumbnail-list {
    background-color: inherit;
    flex-direction: column;
    order: 0 !important;
    padding: 25px;
    margin-top: 0;
 
  }

  .detail-image-container {
    align-items: flex-start !important;
  }

  .detail-image-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 5px;
    width: 70vw;
    height: 100vh;
  }

  .detail-image-title {
    position: relative;
    font-size: 3em;
    bottom: 70px;
  }

  h1 {
    font-size: 7em;
    margin-bottom: 10px;
  }

  .up_down_btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    color: #6c2020;
    cursor: pointer;
    display: block;
  }

  .up_down_btn:hover {
    text-decoration: none;
    background: #6c2020;
    color: #17b21d
  }

  .up_down_btn-show {
    display: block;
  }

  .up_down_btn-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0;
  }

}

@media all and (min-width: 1440px) {
  .detail-image-title {
    font-size: 4em;
    bottom: 100px;
  }
}
