h1 {
  color: #6c2020;
  text-align: center;
  font-size: 36px;
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
  margin-top: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #faf000;
}

body {
  display: flex;
  flex-direction: column;
}

.main-header {

  flex: 0 1 auto;
}

.main-content {
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
}

.thumbnail-list {
  white-space: nowrap;
  overflow-x: auto;
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 14px;

}

.thumbnail-item {
  display: inline-block;
  border: 1px solid rgb(100%, 100%, 100%, 0.8);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  max-width: 140px;
  min-width: 80px;
  transition: transform 0.9s ease-in-out;

}

.thumbnail-item:hover {
  transform: scale(1.08);
}

.is-tiny {
  transform: scale(1.09);
  transition: transform 0ms;
}

.detail-image-container {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-wrapper {
  text-align: center;
  transition: transform 3s;
}

.detail-image-title {
  color: #fff;
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  left: 4px;
  bottom: -16px;
}

.detail-image {
  border-radius: 6px;
  width: 90%;
}

.thumbnail-image {
  border-radius: 4px;
  width: 100%;
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 4px 10px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  background: #faf000;
  color: rgb(100, 100, 100);
}

.hidden-detail .detail-image-container {
  display: none;
}

.hidden-detail .thumbnail-list {
  flex-direction: column;
  align-items: center;
}

.hidden-detail .thumbnail-item {
  max-width: 80%;
}




.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #e0e0e0;
  z-index: 1001;
}
.preloader-image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(720deg);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
