h1 {
  color: #faf000;
  text-align: center;
  font-size: 36px;
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
  margin-top: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  background-image: url(https://news-r.ru/upload/iblock/7dd/7dda1d8c838d16dfddadf6ef9ba87d38.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
}

.main-header {
  flex: 0 1 auto;
}

.main-content {
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
}

.thumbnail-list {
  white-space: nowrap;
  overflow-x: auto;
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
  

}

.thumbnail-item {
  display: inline-block;
  max-width: 140px;
  min-width: 80px;
  transition: transform 0.9s ease-in-out;
  margin-bottom: 10px;
  
}

.thumbnail-item:hover {
  transform: scale(1.08);
}

.is-tiny {
  transform: scale(1.09);
  transition: transform 0ms;
}

.detail-image-container {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.detail-image-wrapper {
  text-align: center;
  transition: transform 3s;
}

.detail-image-title {
  color: #fff;
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 10px;
  right: 20%;
}

.detail-image {
  border-radius: 66px;
  /*width: 90%;*/
  width: 85%;
  border: 20px solid #1e8d2a;
  border-top: 0px;
  border-bottom: 0px;
  max-height: 100vh;

}

.thumbnail-image {
  width: 100%;
  border: 18px solid #1e8d2a;
  
  margin-bottom: -6px;
  border-radius: 20px 90px 90px 0px;
  border-right: none;
}

.thumbnail-title {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #1e8d2a; 
  border-radius: 0px 20px;
  padding: 0px 20px 0px 15px;
  max-width: 140px;
}

.hidden-detail .detail-image-container {
  display: none;
}

.hidden-detail .thumbnail-list {
  flex-direction: column;
  align-items: center;
}

.hidden-detail .thumbnail-item {
  max-width: 80%;
}

.blokquot {
  color: #faf000;
  text-align: right;
  margin-right: 20px;
}


.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #e0e0e0;
  z-index: 1001;
}
.preloader-image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(720deg);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
.key-words{
  display: none;
}